<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='site.css') }}">
</head>
<body>

<h1 class="text-amber-500">BOO!</h1>

<pre><code>npm install -D tailwindcss</code></pre>

<pre><code>npx tailwindcss init</code></pre>

<pre><code>npx tailwindcss -i .\src\tailwind.css -o .\static\site.css --watch</code></pre>



</body>
</html>
